body{
    /**background: linear-gradient(#07921a, #46067a);**/
    background: linear-gradient(
  90deg,
  rgba(2, 0, 36, 1) 0%,
  rgba(9, 9, 121, 1) 35%,
  rgba(0, 212, 255, 1) 100%
);
}

.card{
    width: 400px;
    height: 200px;
    box-sizing: border-box;
    padding: 1px 20px;
    background: url('../assets/1.png') no-repeat;
    background-size: cover;
    border-radius: 50px 5px 50px 5px;
    /**margin: 120px 30% 0px 30%;**/
    margin: auto;
    margin-top: 10%;
    
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: none;
    color: rgb(255, 251, 251);
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.facebook{
   list-style: none;

}

.instagram{
    list-style: none;
}
.github{
    list-style: none;
}
